
body {background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    display: inline-block;
}
/*Cursos*/
.udemy{
    width: 300px; 
    height: 170px;
    display: inline-block;
}
.udemy2{
    place-content: right;
    display: inline-block;
}
.btn-link-uy{
    text-decoration: none;
    border: 3px solid #ed4b65;
    color: #ffffff;
}
.btn-link-cv{
    text-decoration: none;
    border: 3px solid #ed4b65;
    color: #ffffff;
}
.corpo{
    margin-left: 140px;
}
/*Neon nas imagens*/
.insta, .dc, .git, .JavaScript, .html, .css, .doc, .Linux{
    animation: neon 3s alternate infinite ease-in-out;
}
.insta{
    --cor-neon: #F08080;
}
.dc{
    --cor-neon:#6495ED;
}
.git{
    --cor-neon:#612203;
}
.html{
    --cor-neon:#FF8C00;
}
.css{
    --cor-neon:#0f9efd;
}
.JavaScript{
    --cor-neon:yellow; 
}
.doc{
    --cor-neon:rgb(63, 105, 243);
}
.Linux{
    --cor-neon:white;
}
@keyframes neon{
    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to{
        filter: drop-shadow(0 0 30px var(--cor-neon));
    }
}
.contatosss{
    margin-right: 50px;
}