/*Geral*/
body {background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

/*Botões*/
.btn-link-cotação, .btn-link-hd, .btn-link-ssd, .btn-link-motherboard, .btn-link-memoria,.btn-link-cooler, .link-h55-especi, .link-i5-especi{
    text-decoration: none;
    color: #ffffff;
    border: 3px solid #0083fd;
}
/*Neon nas imagens*/
.img-tech, .insta, .dc, .git, .JavaScript, .html, .css, .doc, .Linux{
    animation: neon 3s alternate infinite ease-in-out;
}
.img-tech{
    --cor-neon: #000000;
    cursor: pointer;
}
.insta{
    --cor-neon: #F08080;
}
.dc{
    --cor-neon:#6495ED;
}
.git{
    --cor-neon:#612203;
}
.html{
    --cor-neon:#FF8C00;
}
.css{
    --cor-neon:#0f9efd;
}
.JavaScript{
    --cor-neon:yellow; 
}
.doc{
    --cor-neon:rgb(63, 105, 243);
}
.Linux{
    --cor-neon:rgb(0, 0, 0);
}
@keyframes neon{
    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to{
        filter: drop-shadow(0 0 30px var(--cor-neon));
    }
}
