

body {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
h1{
    color:rgb(255, 255, 255)
}
.BoasVindas, .BoasVindas2, .Memes, .infojs, .infojs2, .infopy, .infopy2, .infoso, .LiWi, .IntroLi, .VanLi, .IntroWi, .VanWi, .Happy, .Criador, .contato, .Lingua, .SO, .CF,  .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12, .insta, .dc, .git, .devicon-linux-plain, .html, .css, .JavaScript, .div1, .div2,
.doc{
    visibility: hidden;
}
